@model IEnumerable<CW_COMP_1471.Models.Package>

@{
    ViewData["Title"] = "Package List";
}

<h2>Package List</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Min Qty</th>
            <th>Free Qty</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var package in Model)
        {
            <tr>
                <td>@package.Name</td>
                <td>@package.Description</td>
                <td>@package.MinTicketQty</td>
                <td>@package.FreeTicketCount</td>
                <td>
                    <a asp-action="EditPackage" asp-route-id="@package.PackageId" class="icon-btn text-success m-1" title="Edit Package">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@package.PackageId" class="icon-btn text-danger m-1" title="Delete Package"
                       onclick="return confirm('Are you sure you want to delete this package?');">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="CreatePackage" class="btn btn-success mb-3">Create new package</a>