@model IEnumerable<User>

@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>

<a href="@Url.Action("CreateUser", "User")" class="btn btn-primary">Add User</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No.</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>@user.Address</td>
                <td>
                    <a href="@Url.Action("EditUser", "User", new { id = user.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", "User", new { id = user.Id })" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
