@using CW_COMP_1471.Services
@model IEnumerable<User>

@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>

<table class="table">
    <thead>
        <tr>            
            <th>Name</th>
            <th>Email</th>
            <th>Phone No.</th>
            <th>Address</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>                
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>@user.Address</td>
                <td>@user.Role.RoleName</td>
                <td>
                   <a href="@Url.Action("EditUser", "User", new { id = user.Id })" class="icon-btn text-warning m-1">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="@Url.Action("Delete", "User", new { id = user.Id })" class="icon-btn text-danger m-1" onclick="return confirm('Are you sure?');">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("CreateUser", "User")" class="btn btn-success">Create new user</a>