@model PricingBand

@{
    ViewBag.Title = "Add Pricing";
}

@using (Html.BeginForm("Create", "Pricing", FormMethod.Post))
{
    <div class="container create-edit-form">
        <h2 class="mb-4">Add Price Band</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Band</label>
                    @Html.TextBoxFor(m => m.Band, new { @class = "form-control", placeholder = "Enter Band Name", required = "required" })
                    @Html.ValidationMessageFor(m => m.Band, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Price</label>
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "Enter Band Price", required = "required", type = "number", step = "0.01" })
                    @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label>Play</label>
                    @if (Model.Plays != null && Model.Plays.Any())
                    {
                        @Html.DropDownListFor(m => m.PlayId, Model.Plays, "Select a Play", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.PricingId, "", new { @class = "text-danger" })
                    }
                </div>
       </div>

        <div class="row mt-4">
            <div class="col-md-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-success me-2">Add Price Band</button>
                <a href="@Url.Action("Index", "Pricing")" class="btn btn-outline-success">Back to List</a>
            </div>
        </div>
    </div>

    @if (ViewBag.Errors != null)
    {
        <div class="alert alert-danger mt-3">
            <ul>
                @foreach (var error in ViewBag.Errors)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }
}
