@model IEnumerable<PricingBand>

@{
    ViewData["Title"] = "Pricing List";
}

<h2>Pricing List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Band</th>
            <th>Price</th>
            <th>Play</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pricing in Model)
        {
            <tr>
                <td>@pricing.Band</td>
                <td>@pricing.Price</td>
                <td>@pricing.Play.Title</td>
               <td>
                    <a href="@Url.Action("EditPricing", "Pricing", new { id = pricing.PricingId })" class="icon-btn text-warning m-1">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="@Url.Action("Delete", "Pricing", new { id = pricing.PricingId })" class="icon-btn text-danger m-1" onclick="return confirm('Are you sure?');">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="CreatePricing" class="btn btn-success">Create new pricing</a>
